

# Arquivos do Visual Studio
.vs/
*.suo
*.user
*.vcxproj.user

# Arquivos de Configuração
appsettings.json
appsettings.Development.json

# Logs e Caches
*.log
*.cache

# Dependências do .NET
packages/
*.nupkg

# Arquivos Temporários
*.tmp
*.bak

# Arquivos do Git
.gitignore
.gitattributes
